version: '1.0'
services:
  dev-db:
    image: postgres:13
    ports:
      - 5434:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1qaz2wsx
      POSTGRES_DB: nest
    networks:
      - freecodecamp
networks:
  freecodecamp: